<div id="pre-signup" class="hide">
	<div class="row">
		<div class="small-12 medium-8 large-8 columns">
			<h2>Before we get started...</h2>
			<div class='gf_browser_chrome gform_wrapper' id='gform_wrapper_2' >
				<a id='gf_2' name='gf_2' class='gform_anchor' ></a>
				<form method='post' enctype='multipart/form-data' target='gform_ajax_frame_2' id='gform_2'  action='/quote/#gf_2'>
					<div class='gform_body'>
						<ul id='gform_fields_2' class='gform_fields top_label description_below'>
							<li id='field_2_1' class='gfield gfield_contains_required' ><label class='gfield_label' for='input_2_1'>First Name<span class='gfield_required'>*</span></label><div class='ginput_container'><input name='input_1' id='input_2_1' type='text' value='' class='medium'  tabindex='1'   /></div></li>
							<li id='field_2_4' class='gfield gfield_contains_required' ><label class='gfield_label' for='input_2_4'>Email Address<span class='gfield_required'>*</span></label><div class='ginput_container'><input name='input_4' id='input_2_4' type='text' value='' class='medium'  tabindex='2'   /></div></li>
							<li id='field_2_3' class='gfield gfield_contains_required' ><label class='gfield_label' for='input_2_3'>Mobile Number<span class='gfield_required'>*</span></label><div class='ginput_container'><input name='input_3' id='input_2_3' type='text' value='' class='medium'  tabindex='3'   /></div></li>
							<li id='field_2_5' class='gfield gform_hidden' ><input name='input_5' id='input_2_5' type='hidden' class='gform_hidden' value='Uncomplexicate' /></li>
							<li id='field_2_10' class='gfield gform_hidden' ><input name='input_10' id='input_2_10' type='hidden' class='gform_hidden' value='1' /></li>
							<li id='field_2_6' class='gfield gform_hidden' ><input name='input_6' id='input_2_6' type='hidden' class='gform_hidden' value='{{stateStr}}' /></li>
							<li id='field_2_7' class='gfield gform_hidden' ><input name='input_7' id='input_2_7' type='hidden' class='gform_hidden' value='{{policyStr}}' /></li>
							<li id='field_2_8' class='gfield gform_hidden' ><input name='input_8' id='input_2_8' type='hidden' class='gform_hidden' value='{{currentProduct.1.info.name}}' /></li>
							<li id='field_2_9' class='gfield gform_hidden' ><input name='input_9' id='input_2_9' type='hidden' class='gform_hidden' value='{{excess}}' /></li>
							<li id='field_2_11' class='gfield gform_hidden' ><input name='input_11' id='input_2_11' type='hidden' class='gform_hidden' value='1' /></li>
						</ul>
					</div>
					<div class='gform_footer top_label'> 
						<input type='submit' id='gform_submit_button_2' class='button gform_button' value='Submit' tabindex='4' onclick='if(window["gf_submitting_2"]){return false;}  window["gf_submitting_2"]=true; ' />
						<input type='hidden' name='gform_ajax' value='form_id=2&amp;title=&amp;description=&amp;tabindex=1' />
						<input type='hidden' class='gform_hidden' name='is_submit_2' value='1' />
						<input type='hidden' class='gform_hidden' name='gform_submit' value='2' />
						<input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
						<input type='hidden' class='gform_hidden' name='state_2' value='WyJbXSIsImI1MTBjNWQyMWM2M2E5ZmNiZDkzOTY4OTI4YmJkYTNkIl0=' />
						<input type='hidden' class='gform_hidden' name='gform_target_page_number_2' id='gform_target_page_number_2' value='0' />
						<input type='hidden' class='gform_hidden' name='gform_source_page_number_2' id='gform_source_page_number_2' value='1' />
						<input type='hidden' name='gform_field_values' value='' />
					</div>
				</form>
			</div>
			<iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_2' id='gform_ajax_frame_2'></iframe>
		</div>
		<aside class="small-12 medium-4 large-4 columns">
			<h3>Good to haves</h3>
			<ul class="feature-list">
				<li>An Australian postal address</li>
				<li>Your medicare card</li>
				<li>Personal details of people to be covered</li>
				<li>Your most recent health fund details <br />(if applicable)</li>
				<li>Your bank details</li>
				<li>Check out our <a href="http://health.com.au/privacy-policy-2014" target="_blank">privacy policy</a></li>
			</ul>		
		</aside>
	</div>
</div>
