<div id="quote-fine-print" class="lightbox-small">
	<div id="quote_details">
		<h2>Waiting Periods</h2>
		<hr />
		<h4>Switching from another health insurer?</h4>
		<p>When switching from another insurer, any waiting periods you have already served will be recognised so that you don't have to serve them again. If your new health.com.au policy is an upgrade from your previous cover then you may have to wait before you can claim, but only for the services you didn't have on your previous policy.</p>
		<h4>New to private health insurance?</h4>
		<p>If you have never had private health insurance before you will need to serve some waiting periods before you can make a claim.</p>
		<h4>Our waiting periods are:</h4>
		<p>12 months waiting periods for orthodontic, major dental, <b>pregnancy-related</b> and any pre-existing conditions.</p>
		<p>2 months waiting period for other services.</p>
		<h4>Pre-existing conditions</h4>
		<p>A pre-existing condition is an ailment, illness or condition where, in the opinion of an independent medical referee appointed by health.com.au (not your own doctor), the signs or symptoms of a condition existed and would have been evident to you or a medical practitioner during the six months before you first signed up for hospital cover or upgraded to a higher level of hospital cover. Pre-existing Conditions have a 12 month waiting period. The Australian Government have published this <a href="http://www.phio.org.au/downloads/file/factsandadvise/factsheet-pre-existingconditions.pdf" target="_blank">PDF</a>, which you can download for more information.</p>
		<p>All health insurers impose waiting periods. If you are joining us from another health insurer, any waiting periods that you have already served will be recognised so that you don't have to serve them again. Waiting periods may apply for services not covered with your previous fund.</p>
		<h2>Extras Cover</h2>
		<hr />
		<h4>What We Pay</h4>
		<p>When you visit your favourite healthcare professionals with <span class="productName">{{currentProduct.1._500.name}}</span>, up to your annual cap, you'll get <span class="extraBack">{{currentProduct.1._500.extra_back}}</span>% of their fee back every time you visit.</p>
		<h4>Ambulance Cover</h4>
		<p>We will pay for medically necessary ambulance transport.</p>
		<h2>Hospital Cover</h2>
		<hr />
		<h4>What is covered if you need to go to hospital</h4>
		<p>Please see the table above for coverage, including covered, restricted cover, and items not covered.</p>
		<h4>Hospital Excess</h4>
		<p>You can lower the cost of your premium by choosing a higher excess. We give you a choice of two excess amounts: $500 or $250. This cost will apply for each hospital admission, but there is an annual cap to limit your costs incurred to you. There is no excess with Extras or ambulance.</p>
		<h4>Hospitals</h4>
		<p>We have an agreement with nearly every private hospital in Australia. However, if you go to a hospital that we don't have an agreement with you're likely to have out of pocket expenses that are not covered by the policy.</p>
		<h2>Medical Services</h2>
		<hr />
		<h4>Out of pocket expenses</h4>
		<p>Otherwise known as gap fees, these can be applied by hospitals and or medical practitioners (for their medical services).</p>
		<h4>Access Gap Cover Scheme</h4>
		<p>Our Access Gap Cover scheme allows you to reduce or eliminate your out of pocket expenses. On a case by case basis medical practitioners can decide if they will participate in our scheme. Almost 9 out of 10 medical services under the Access Gap Cover scheme have no out of pocket expenses. If your medical practitioner chooses not to participate then health.com.au is only able, by law, to pay 25% of the Medicare Benefits Schedule (MBS) fee. Medicare pays 75% of the MBS fee. However medical practitioners are able to charge what they like. If your bill is more than the MBS fee you'll have to pay the difference.</p>
		<h2>Further Details</h2>
		<hr />
		<h4>Product features guide</h4>
		<p>This is only a summary of the product's features. View the {{currentProduct.1._500.name}} Features Guide for more information.</p>
		<p><a class="button" ng-href="{{pdfs[currentProduct[0]]}}">{{currentProduct.1._500.name}} feature guide</a></p>
		<h4>Detailed policy guide</h4>
		<p>You should read this summary together with the health.com.au Policy Guide:</p>
		<p><a class="button" href="http://health.com.au/policy-guide">Policy Guide</a></p>
		<p>You should also read our <a href="http://health.com.au/privacy-policy-2014">Privacy Policy</a></p>
	</div>
</div>